{% extends 'students/_base.html' %}


{% block title %}Students' List{% endblock title %}


{% block content %}
<div class="row mt-4">
    <h2>Список учеников</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Школа</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
                <tr>
                    <th scope="row">{{s.id}}</th>
                    <td>{{s.surname}}</td>
                    <td>{{s.name}}</td>
                    <td>{{s.school}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}