{% extends '_base.html' %}

{% block title %}DB test{% endblock title %}


{% block content %}
<h1 class="title">Книги</h1>
<div class="row row-cols-4 justify-content-md-center">
    {% for b in books %}
        <div class="book col">
            <div class="descriptions">
                <img src="{{b.cover.url}}" alt="">
                <div class="price">
                    {{b.price}}₽
                </div>
                <a href="{% url 'book_details' b.id %}" class="book-link">{{b.title}}</a>
            </div>
        </div>
        {% endfor %}
</div>

{% endblock content %}