{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'blogs/css/bootstrap.min.css' %}">
    <link href="{% static 'blogs/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blogs/css/custom.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nunito+Sans:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-shadows" style="background-color: white;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'students/img/logo.svg' %}" alt="" width="64" height="64">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'books_list' %}">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'students_list' %}">Ученики</a>
                    </li>
                    <a class="nav-link" href="{% url 'teachers_list' %}">Учители</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Больше
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'student_create' %}">Добавление ученика</a>
                            </li>
                            <a class="nav-link" href="{% url 'teacher_create' %}">Добавление учителя</a>
                    </li>
                </ul>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link disabled">Disabled</a> -->
                </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Найти</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            {% block content %}
            <!-- content -->

            {% endblock content %}
        </div>
    </div>
    <script src="{% static 'blogs/js/bootstrap.js' %}"></script>
</body>

</html>